* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
ul {
    display: flex;
    margin: 0 -3vw;
}

li {
    font-size: 3vh;
    list-style: none;
    cursor: pointer;
    padding: 2vh 1vw;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: grey;
}

.header1 {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 30px;
    border: 2px solid white;
    border-radius: 38px;
}

.leftnav {
    display: flex;
    align-items: center;
    width: 62%;
}

.rightnav {
    width: 30%;
    text-align: right;
    justify-content: right;
    align-items: center;
    display: flex;
}

.navsearch {
    padding: 0.5vh 1vw;
    height: 23px;
    width: 224px;
    border-radius: 8px;
    margin-right: 1vh;

}

.background {
    background: rgba(0, 0, 0, 0.7) url('/img/bg1.jpg');
    background-size: cover;
    background-blend-mode: darken;

}

.btn1 {
    padding: 8px 10px;
    border-radius: 7px;
    cursor: pointer;
    margin-right:1vw ;
    background: none;
    color: white;
    border: 2px solid white;
    vertical-align: middle;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.first-section{
    height: 100vh;
}
.first-half{
    width: 70%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.second-half{
    width: 185px;
}
.second-half img{
    width:80%;
    border: 2px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}
.big-text{
    font-size: 40px;

}
.small-text{
    font-size: 17px;
    margin: 1vw 0;
}
.btn{
    border: 2px solid white;
    border-radius: 9px;
    padding: 8px 20px;
    margin: 7px 3px;
    background: none;
    color: white;
    cursor: pointer;
}
.img-ear img{
    width: 147px;
    border-radius: 2vh;
    margin-top: 8vh;
}
.sec1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    /* height: 300px; */
    margin: auto;

    /* margin-right: 5vh; */

}
.paras{
    padding: 5vw;
}
.left{
    flex-direction: row-reverse;
     
}
.contact{
    background-color: rgb(221, 205, 205);
    height: 470px;
    text-align: center;
}
.form1{
max-width: 60vw;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: auto;
}
.form-input{
    width: 100%;
    padding: 1vh 0.5vw;
    border: 2px solid grey;
    border-radius: 1vh;
}
/* textarea{
    border: 2px solid grey; 
    border-radius: 1vh;
    padding: 2vh;
} */
.head2{
    padding: 3vh 0;
}
.formbtn{
    align-self: self-start;
    padding: 1vh 4vh;
    border-radius: 1vh;
    border: 2px solid grey; 
    
}
.footer{
    text-align: center;
    font-size: 3vh;
    color: white;
}
.burger{
    position: absolute;
    top: 10px;
    right: 4%;
cursor: pointer;
display: none;
}
.line{
    background-color: white;
    width: 33px;
    height: 4px;
    margin: 5px 5px;
}
 

/* Responsive Css */
 @media only screen and (max-width: 750px) {
    .burger{
        display: block;
    }
    .leftnav {
        flex-direction: column;
    }
    ul{
        flex-direction: column;
        align-items: center;
    }
    .rightnav{
        flex-direction: column;
    }
    .header1{
        transition: all 5.7 ease-out;
        flex-direction: column;
        /* height: 250px; */
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
        height: auto;
    }
    .h-nav{
        height: 50px;
    }
    .v-nav{
        opacity: 0;
    }
    .first-half{
        align-items: center;
        text-align: center;
    }
    .sec1{
        flex-direction: column-reverse;
    }
    .paras{
        text-align: center;
    }
} 




